@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Vollkorn:wght@800&display=swap');
        *{
            margin: 0;
            padding: 0;
        }
        body{
            font: 500 26px 'PT Serif', serif;
            background: url(images/fon.png);
            background-size: 100vw 100vh;
            background-attachment: fixed;
            background-repeat: no-repeat;
            color: white;
        }
        .header{
            display: inline-block;
            height: 100vh;
            width: 99vw;
        }
        .verh{
            font-size: 100px;
            margin: 220px auto 0 auto;
            width: 78vw;
            text-align: center;
        }
        h2{
            font-size: 100px;
            margin: 0 auto;
            width: 58vw;
            text-align: center;
        }
        ul{
            margin: 150px auto 0 auto;
            list-style-type: none;
        }
        li{
            width: calc(100%/4 - 70px);
            margin-left: 45px;
            display: inline-block;
            text-align: center;
            font-size: 40px;
        }
        .bc{
            width: 99vw;
            color: white;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        .info{
            width: 1300px;
            display: inline-block;
            padding: 10vh calc(50% - 650px);
            text-align: justify;
        }
        p{
            margin: 80px auto;
        }
        .imgleft{
            width: 24vw;
            height: 31vh;
            float: left;
            padding-right: 10px;
            padding-top: 10px;
        }
        .imgright{
            width: 24vw;
            height: 31vh;
            float: right;
            padding-left: 10px;
            padding-top: 10px;
        }
        .fin{
            width: 1200px;
            display: flex;
            height: 80vh;
            font-family: "Montserrat Alternates", serif;
            padding: 0 calc(50% - 600px);
            flex-wrap: wrap;
        }
        .niz{
            font-size: 80px;
            margin: 50px 90px 0;
            text-align: center;
            width: 45vw;
        }
        .podval{
            display: inline-block;
            width: 1000px;
            height: 100px;
            font-family: "Montserrat Alternates", serif;
            padding: 0 calc(50% - 500px) 100px;
            background: #222;
            text-align: center;
            font-size: 30px;
            color: white;
        }
        .text{
            height: 7vh;
            font-size: 40px;
            font-family: "Montserrat Alternates", serif;
            border-radius: 10px;
            margin-bottom: 50px;
            width: 37vw;
        }
        textarea{
            height: 20vh;
            width: 37vw;
            resize: none;
            font-size: 40px;
            font-family: "Montserrat Alternates", serif;
            border-radius: 10px;
            margin-bottom: 50px;
        }
        form{
            width: 40vw;
            margin: 0;
        }
        .button{
            width: 10vw;
            height: 5vh;
            border-radius: 10px;
            font-size: 24px;
            font-family: "Montserrat Alternates", serif;
            cursor: pointer;
        }
        .img1{
            border-radius: 50%;
            width: 20vw;
            height: 35vh;
            margin-bottom: 70px;
            margin-left: 40px;
        }
        a:hover{
            color: red ;
        }
        h3{
            margin: 100px auto 80px;
        }
        .prishlos{
          margin: 50px;
        }