@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Vollkorn:wght@800&display=swap');
        *{
            margin: 0;
            padding: 0;
        }
        body{
            font: 500 2.6vh 'PT Serif', serif;
            background: url(images/fon.png);
            background-size: 100vw;
            background-attachment: fixed;
            background-repeat: no-repeat;
            color: white;
        }
        .header{
            display: inline-block;
            height: 100vh;
            width: 99vw;
        }
        .verh{
            font-size: 10vh;
            margin: 20vh auto 0 auto;
            width: 78vw;
            text-align: center;
        }
        h2{
            font-size: 10vh;
            margin: 0 auto;
            width: 58vw;
            text-align: center;
        }
        ul{
            margin: 15vh auto 0 auto;
            list-style-type: none;
        }
        li{
            width: calc(100%/4 - 7.5vh);
            margin-left: 6vh;
            display: inline-block;
            text-align: center;
            font-size: 4vh;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        .info{
            display: inline-block;
            padding: 10vh calc(50% - 65vh);
            text-align: justify;
            }
        p{
            margin: 7vh auto 7vh auto;
        }
        .imgleft{
            width: 47vh;
            height: 31vh;
            float: left;
            padding-right: 1vh;
            padding-top: 1vh;
        }
        .imgright{
            width: 47vh;
            height: 31vh;
            float: right;
            padding-left: 1vh;
            padding-top: 1vh;
        }
        .fin{
            display: flex;
            height: 80vh;
            font-family: "Montserrat Alternates", serif;
            padding: 0 calc(50% - 32vw);
            flex-wrap: wrap;
        }
        .niz{
            font-size: 8vh;
            margin: 5vh 9vw 0;
            text-align: center;
            width: 45vw;
        }
        .podval{
            display: inline-block;
            width: 125vh;
            height: 10vh;
            font-family: "Montserrat Alternates", serif;
            padding: 0 calc(50% - 62.5vh) 10vh;
            background: #222;
            text-align: center;
            font-size: 3vh;
            color: white;
        }
        .text{
            height: 7vh;
            font-size: 4vh;
            font-family: "Montserrat Alternates", serif;
            border-radius: 1vh;
            margin-bottom: 5vh;
            width: 37vw;
        }
        textarea{
            height: 20vh;
            width: 37vw;
            resize: none;
            font-size: 4vh;
            font-family: "Montserrat Alternates", serif;
            border-radius: 1vh;
            margin-bottom: 5vh;
        }
        form{
            width: 40vw;
            margin: 0;
        }
        .button{
            width: 10vw;
            height: 5vh;
            border-radius: 1vh;
            font-size: 2vh;
            font-family: "Montserrat Alternates", serif;
            cursor: pointer;
        }
        .img1{
            border-radius: 50%;
            width: 20vw;
            height: 35vh;
            margin-bottom: 7vh;
            margin-left: 4vh;
        }
        a:hover{
            color: red  ;
        }
        .bc{
            width: 99vw;
            color: white;
        }
        h3, h4{
            font-family: 'Vollkorn', serif;
        }